/* The side navigation menu */
body {
  background: black;
  color: lime;
}


#para {
  text-align: center;
  align-content: center;
  margin-bottom: 125vh ;
}
div.intro {
  color: blue;
  border-style: solid;
  border-color: black;
  text-align: center;
  margin-left: 20vw;
  margin-right: 20vw;
  font-size: 4vh;
  margin-bottom: 28vh;
  background-color: gray;
}

.projects {
  color: lime;
  text-align: center;
}
